react-dev-template/node_modules
pluralsight-reactGettingStarted/node_modules
pluralsight-designingReactComponents/node_modules
pluralsight-stylingReactComponents/node_modules
pluralsight-designingReactComponents/.next
.idea
pluralsight-vanillaWebComponent/6-vanilla-web-components-practical-guide-m6-exercise-files/node_modules
pluralsight-TDDUsingReact/node_modules