react-dev-template/node_modules
pluralsight-reactGettingStarted/node_modules
pluralsight-designingReactComponents/node_modules
pluralsight-stylingReactComponents/node_modules
pluralsight-designingReactComponents/.next
.idea
